<!-- Flex container for sidebar and main content -->
<div class="flex min-h-screen bg-gray-300">
    <!-- Sidebar -->
    <aside>
        {{> sidebar}}
    </aside>

    <!-- Centered Content Wrapper -->
    <div class="flex flex-1 items-center justify-center">
        <!-- Delete Account -->
        <form action="/delete" method="GET">
            <div class="card bg-base-100 shadow-lg p-6 max-w-sm w-full">
                <button type="submit" class="btn btn-error w-full">Delete Account</button>
            </div>
        </form>
    </div>
</div>
