<footer class="footer footer-center bg-base-200 text-base-content p-5">
  <aside>
    <!-- Add the <script><script /> tag to include bootstrap javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <p>
        &copy; Software Development Project - 2024 - CSCI 3308
    </p>
  </aside>
</footer>
</body>
</html>
