<div class="navbar bg-base-300">
  <!-- logo button -->
  <div class="navbar-start">
      <a href="/home">
        <img class="btn btn-ghost btn-circle object-contain" src="/img/leaf_logo.png">
      </a>
  </div>
    

  <div class="navbar-end">
    <!-- dropdown menu -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a>Home</a></li>
        <li><a>Plant Search</a></li>
        <li><a href="
        {{#if user}}
          /garden
        {{else}}
          /login
        {{/if}}
        ">Garden</a></li>
      </ul>
    </div>
    <!-- profile icon/ dropdown menu -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <!-- display generic profile icon if no profile photo -->
          {{#if user.profile_photo}}
            <img src="{{user.profile_photo}}">
          {{else}}
            <!-- icon from https://heroicons.com/ -->
            <svg 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="size-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          {{/if}}
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <!-- display options when logged in vs logged out -->
        {{#if user}}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
