<div class="w-64 bg-base-100 h-full shadow-md">
  <nav class="">
    <ul class="menu menu-compact w-full p-5">
      <!-- Menu Items -->
      <li class="bg-base-200 rounded-xl my-2">
        <a href="/account-settings" class="hover:bg-purple-100 hover:text-purple-600">
          Account Settings
        </a>
      </li>
      <li class="bg-base-200 rounded-xl my-2">
        <a href="/p-location" class="hover:bg-purple-100 hover:text-purple-600">
          Location Settings
        </a>
      </li>
      <li class="bg-base-200 rounded-xl my-2">
        <a href="/garden" class="hover:bg-purple-100 hover:text-purple-600">
          My Garden
        </a>
      </li>
      <li class="bg-base-200 rounded-xl my-2">
        <a
          href="/delete-account"
          class="hover:bg-red-100 hover:text-red-600"
        >
          Delete Account
        </a>
      </li>
    </ul>
  </nav>
</div>
