#home-container
{
    background-image: url('/img/home_background_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden 
{
    visibility: hidden;
    height: 0;
}

#alert
{
    position: absolute;
}

.green-title
{
    color: #A5CA7A;
    font-size: 100px;
}
.green-sub-title
{
    color: #A5CA7A;
    font-size: 50px;
}
.green-sub-title-2
{
    color: #A5CA7A;
    font-size: 30px;
}
.green-text
{
    color: #A5CA7A;
}

.bg-green
{
    background-color: #aed581;
}

.bg-light-green
{
    background-color: #cee6b3;
}

#plant-name
{
    font-size: 40px;
    color:#aed581;
}

#garden-menu-container
{
    width: 30%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1;  */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 20px; */
}

#garden-menu
{
    overflow: auto;
    scroll-behavior: smooth;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
}
