#home-container
{
    background-image: url('/img/home_background_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-title
{
    color: #A5CA7A;
    font-size: 100px;
}
#home-title-caption
{
    color: #A5CA7A;
    font-size: 30px;
}

.hidden 
{
    visibility: hidden;
    height: 0;
}

#alert
{
    position: absolute;
}

#plant_reccs_title
{
    color: #A5CA7A;
    font-size: 50px;
}

.bg-green
{
    background-color: #aed581;
}

.bg-light-green
{
    background-color: #cee6b3;
}

#plant-name
{
    font-size: 40px;
    color:#aed581;
}
