#home-container
{
    background-image: url('/img/home_background_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-title
{
    color: #A5CA7A;
    font-size: 100px;
}
#home-title-caption
{
    color: #A5CA7A;
    font-size: 30px;
}

.hidden {
    visibility: hidden;
    height: 0;
  }
