<div id="home-container" class=".container-fluid">
    <!-- search for plants -->
    <div class="card">
        <div class="card-body">
            <label>Search For Plants</label>
            <p>Search for plants for your local environment </p>
            <img src="../../resources/img/leaf_logo.png">
        </div>
    </div>
    <!-- plants of the day -->
    <div class="card">
        <div class="card-body">
            <label>Plants of the Day</label>
            <p>Reccomended plants for your garden</p>
            <img src="../../resources/img/leaf_logo.png">
        </div>
    </div>
    <!-- my garden -->
    <div class="card">
        <div class="card-body">
            <label>My Garden</label>
            <p>Track plants in my garden</p>
            <img src="../../resources/img/leaf_logo.png">
        </div>
    </div>
</div>
