<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
</head>
<body class="bg-gray-300 flex items-center justify-center min-h-screen">
    <div class="text-xl font-bold text-gray-900">
        Successfully Logged Out
    </div>
</body>
</html>
 