<div class="flex items-center justify-center min-h-screen bg-gray-300">
    <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-md">
        <form action="/register" method="POST">
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700" for="fname">First Name</label>
                <input name="first_name" type="text" id="fname" placeholder="First name" class="w-full mt-1 input input-bordered" />
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700" for="lname">Last Name</label>
                <input name="last_name" type="text" id="lname" placeholder="First name" class="w-full mt-1 input input-bordered" />
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700" for="lname">Username</label>
                <input name="username" type="text" id="lname" placeholder="Username" class="w-full mt-1 input input-bordered" />
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700" for="email">Email</label>
                <input name="email" type="email" id="email" placeholder="Enter username here" class="w-full mt-1 input input-bordered" />
            </div>
            <div class="mb-6">
                <label class="block text-sm font-medium text-gray-700" for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter password here" class="w-full mt-1 input input-bordered" />
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700" for="cpassword">Confirm Password</label>
                <input name="cpassword" type="text" id="cpassword" placeholder="Confirm password here" class="w-full mt-1 input input-bordered" />
            </div>
            <button type="submit" class="w-full btn bg-green-300">Register</button>
            <div class="flex justify-between mt-4 text-sm text-gray-600">
                <a href="#" class="hover:underline">Forgot password?</a>
                <a href="#" class="hover:underline">Create an account</a>
            </div>
        </form>
    </div>
</div>

